

<div class="login-container">
  <h1>Connexion</h1>
  <form (ngSubmit)="onLoginSubmit()">
    <div class="form-group">
      <label for="username">User Name</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <div class="form-group">
      <button type="submit">login</button>
    </div>
  </form>
  <div class="forgot-password">
    <a href="#">forgot password?</a>
  </div>
</div>
